
@{
    ViewBag.Title = "Autorize";
}

@using (Html.BeginForm())
{
    <div>
        Login
        <input type="text" name="Login" />
    </div>
    <div>
        Password 
        <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Log In" />
    </div>
}
@ViewBag.Message

<h2>Autorize</h2>

